<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <i95dev_settings_hemming>
            <defualt_hemming>
                <Defualt_Title>Hemming Options</Defualt_Title>
            </defualt_hemming>
            <general_hemming>
                <Hemming_Title>Buttons</Hemming_Title>
            </general_hemming>
        </i95dev_settings_hemming>
        <weltpixel_owl_carousel_config>
            <recently_purchased>
                <status>1</status>
                <title></title>
                <show_price>1</show_price>
                <show_addto>0</show_addto>
                <show_wishlist>0</show_wishlist>
                <show_compare>0</show_compare>
                <random_sort>0</random_sort>
                <max_items>15</max_items>
                <slide_by>1</slide_by>
                <loop>1</loop>
                <margin>20</margin>
                <lazyLoad>1</lazyLoad>
                <autoplay>1</autoplay>
                <autoplayTimeout>3000</autoplayTimeout>
                <autoplayHoverPause>1</autoplayHoverPause>
                <nav_brk1>0</nav_brk1>
                <dots_brk1>1</dots_brk1>
                <items_brk1>2</items_brk1>
                <center_brk1>0</center_brk1>
                <stagePadding_brk1>0</stagePadding_brk1>
                <nav_brk2>0</nav_brk2>
                <dots_brk2>1</dots_brk2>
                <items_brk2>3</items_brk2>
                <center_brk2>0</center_brk2>
                <stagePadding_brk2>0</stagePadding_brk2>
                <nav_brk3>0</nav_brk3>
                <dots_brk3>1</dots_brk3>
                <items_brk3>4</items_brk3>
                <center_brk3>0</center_brk3>
                <stagePadding_brk3>0</stagePadding_brk3>
                <nav_brk4>1</nav_brk4>
                <dots_brk4>1</dots_brk4>
                <items_brk4>5</items_brk4>
                <center_brk4>0</center_brk4>
                <stagePadding_brk4>0</stagePadding_brk4>
            </recently_purchased>
        </weltpixel_owl_carousel_config>
    </default>
</config>